/* Reset some default styles for the body */
body {
   margin: 0;
   padding: 0;
   background: transparent;
}

/* Style for the image */
img {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 81%;
}

body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
}

.typewriter {
   text-align: center;
}


#s{
   font-size: 36px;
   overflow: hidden;
   border-right: 2px solid #000;
   
   
}
#statement{
   font-size: 36px;
   overflow: hidden;
   border-right: 2px solid #000;
   white-space: nowrap;
   animation: typing 4s steps(40, end);
}

@keyframes typing {
   from {
       width: 0;
   }
   to {
       width: 100%;
   }
}

@keyframes blink-caret {
   from, to {
       border-color: transparent;
   }
   50% {
       border-color: #000;
   }
}

/* Style for the button */
button {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-family: 'Poppins', sans-serif;
   font-size: 22px;
   color: white;
   border-radius: 23px;
   padding: 2%;
   width: 130px;
   background-color: rgb(238, 139, 9);
   animation: blink 1s infinite;
}

/* Define the blink animation */
@keyframes blink {
   0%, 100% {
       opacity: 1;
   }
   50% {
       opacity: 0;
   }
}

/* Media query for screens with a minimum width of 800px */
@media screen and (min-width: 800px) {
   /* Adjust button margin-top and .p styles for larger screens */
   button {
       margin-top: 280px;
   }
   
   /* Add or modify styles for larger screens here */
}
