/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.master {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #281c4a;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

h1 {
    font-weight: 900;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}

.content {
    margin-top: 90px;;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.item {
    width: 350px; /* Set a fixed width for each item */
    height: 350px; /* Set a fixed height for each item */
    margin: 10px; /* Add spacing between items */
}

.item img {
    max-width: 100%;
    max-height: 100vh;
    background-size: cover;
    display: block;
    box-shadow: 6px 17px 40px rgb(0, 0, 0);
}
.item :hover{
    transform: scale(1.09);
    transition: 0.7s;
}










@media (max-width: 768px) {
    img {
        margin-top: 5%; 
    }

    .master {
        font-size: 28px; 
    }

    .item {
        width: 90%; 
    }
}

@media (max-width: 480px) {
    img {
        margin-top: 3%; 
    }

    .master {
        font-size: 24px; 
    }
}

@media (max-width: 768px) {
    img {
        padding: 5px; /* Reduce padding for smaller screens */
    }
}

@media (max-width: 480px) {
    img {
        padding: 3px; /* Further reduce padding for smaller screens */
    }
}